#node modules
node_modules

#npm
npm-debug.log*

#yarn
yarn.lock

#webstorm
.idea

#автогенерируемая документация
__doc__/auto_generated/*

#моя временная заглушка для env
#env_gitignored.js - в проекте нужно раскомментировать

